extends base.pug

block content
    if errorMessage 
        span=errorMessage
    form(method="POST")   
        input(placeholder="Username" name="username", type="text", required)        
        input(placeholder="Password" name="password", type="password", required)        
        input(type="submit",value="Join")
        br
        a(href="https://github.com/login/oauth/authorize?client_id=8b7a5827ed8c2d4609d9&allow_signup=false") Continue with Github &rarr;
    hr
    div
        span Don't have an account? 
        a(href="/join") Creat one now &rarr; 
        
